ion-content {
    --ion-background-color: #EEEEEE;
}

.container-fluid {
    background-color: #EEEEEE;
}

.portlet {
    padding: 0px;

    .portlet-body {
        padding-top: 0px;
        margin-bottom: 20px;
    }
}

.tab {
    color: black;
    text-align: center;
    font-size: 1em;
    background-color: #BBDEFB;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2px !important;
}


.list {
    color: black;
    font-size: 1em;
    background-color: #BDBDBD;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.box {
    background-color: white;
}

.text {
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
}

.subtext {
    font-size: 1em;
}