<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-title>ข้อมูลของ (ดูแลโดย ) </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="container-fluid" style="position: fixed;">
      <div class="row" style="padding: 0px; padding-top: 5px;">
        <div class="col-6 col-md-6 col-sm-6" style="padding: 0px; padding-left: 5px; padding-right: 5px; max-height:500px;">
          <div class="portlet light ">
            <div class="portlet-body">
                <div class="tab text-center">ลูกค้า</div>
                <label class="col-4 col-md-4 col-sm-4 text">ชื่อลูกค้า</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">ประเภทอุตสาหกรรม</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">อีเมลล์</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">โทรศัพท์</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">แฟกซ์</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">ที่อยู่</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
                <label class="col-4 col-md-4 col-sm-4 text">ชื่อบิล</label>
                <label class="col-8 col-md-8 col-sm-8 subtext"></label>
  
              <div class="tab text-center" >สำนักงานใหญ่</div>
              <label class="col-4 col-md-4 col-sm-4 text">ชื่อบัญชี</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ประเภทธุรกิจ</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">อีเมลล์</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">โทรศัพท์</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">แฟกซ์</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">รหัสลูกค้า</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ชื่อบิล</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ประเภทของลูกค้า</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
  
              <div class="tab text-center">พนักงานขาย</div>
              <label class="col-4 col-md-4 col-sm-4 text">สถานะการทำงาน</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ประเภทงาน</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ชื่อ</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">เพศ</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">กลุ่มงาน</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-sm-6" style="padding: 0px; padding-right: 5px;">
          <div class="portlet light ">
            <div class="portlet-body">
              <div class="tab text-center">สินค้าที่ติดตั้ง</div>
              <div [routerLink]="['/joball/listpm/detailofdetaillistpm']">
              <label class="col-4 col-md-4 col-sm-4 text">สถานะ</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">สินค้าที่ติดตั้ง</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">รหัสสินค้า</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">ชื่อสินค้า</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
              <label class="col-4 col-md-4 col-sm-4 text">Serial No:</label>
              <label class="col-8 col-md-8 col-sm-8 subtext"></label>
            </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </ion-content>