<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>ข้อมูลของ ชาบูชิ บิ๊กซี ติวานนท์ (ดูแลโดย สมภพ แสนกล้า) </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid" style="position: fixed;">
    <div class="row" style="padding: 5px;">
      <div class="col-md-6 col-sm-6 ex3" style="padding: 0px;padding-right: 5px; max-height:400px;">
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>ลูกค้า </div>

          </div>
          <div style="padding: 5px">
          <label class="col-4 text">ชื่อลูกค้า</label>
          <label class="col-8 subtext padding">ชาบูชิ บิ๊กซี ติวานนท์</label>
          <label class="col-4 text">ประเภทอุตสาหกรรม</label>
          <label class="col-8 subtext padding">Accounting/Auditing</label>
          <label class="col-4 text">อีเมลล์</label>
          <label class="col-8 subtext padding">-</label>
          <label class="col-4 text">โทรศัพท์</label>
          <label class="col-8 subtext padding">-</label>
          <label class="col-4 text">แฟกซ์</label>
          <label class="col-8 subtext padding">-</label>
          <div class="form-group">
            <label class="col-4 text">ที่อยู่</label>
            <label class="col-8 subtext padding">เลขที่ 9/9 หมู่ 5 อาคาร บิ๊กซี ติวานนท์ ตำบล/แขวง
              ตลาดขวัญ อำเภอ/เขต เมือง จังหวัด นนทบุรี 11000</label>
          </div>

          <label class="col-4 text">ชื่อบิล</label>
          <label class="col-8 subtext padding">ชาบูชิ บิ๊กซี ติวานนท์</label>
        </div>
      </div>
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-bank"></i>สำนักงานใหญ่ </div>

          </div>
          <div style="padding: 5px">
          <label class="col-4 text">ชื่อบัญชี</label>
          <label class="col-8 subtext padding">โออิชิ สำนักงานใหญ่</label>
          <label class="col-4 text">ประเภทธุรกิจ</label>
          <label class="col-8 subtext padding">ไม่ระบุ</label>
          <label class="col-4 text">อีเมลล์</label>
          <label class="col-8 subtext padding">-</label>
          <label class="col-4 text">โทรศัพท์</label>
          <label class="col-8 subtext padding">-</label>
          <label class="col-4 text">แฟกซ์</label>
          <label class="col-8 subtext padding">-</label>
          <label class="col-4 text">รหัสลูกค้า</label>
          <label class="col-8 subtext padding">OG0000</label>
          <label class="col-4 text">ชื่อบิล</label>
          <label class="col-8 subtext padding">โออิชิ สำนักงานใหญ่</label>
          <label class="col-4 text">ประเภทของลูกค้า</label>
          <label class="col-8 subtext padding">-</label>
        </div>
        </div>
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>พนักงานขาย </div>

          </div>
          <div style="padding: 5px">
          <label class="col-4 text">สถานะการทำงาน</label>
          <label class="col-8 subtext padding">Working</label>
          <label class="col-4 text">ประเภทงาน</label>
          <label class="col-8 subtext padding">Sale</label>
          <label class="col-4 text">ชื่อ</label>
          <label class="col-8 subtext padding">คุณ นุชจรีย์ โชติวรรณพร</label>
          <label class="col-4 text">เพศ</label>
          <label class="col-8 subtext padding">Female</label>
          <label class="col-4 text">กลุ่มงาน</label>
          <label class="col-8 subtext padding">พนักงานทั่วไป</label>
        </div>
      </div>
      </div>

      <div class="col-md-6 col-sm-6 ex2" style="padding: 0px; max-height:400px;">
        <div class="portlet blue box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-cube"></i>สินค้าที่ติดตั้ง </div>

          </div>
          <div [routerLink]="['/joball/listpm/detailofdetaillistpm']" style="padding: 5px;">
            <div
              style="background-color: #EEEEEE; margin-left:10px; padding: 0px; margin-bottom: 5px; margin-right:10px;">
              <label class="col-4 text" style="margin:0px; padding-left: 5px;">สถานะ:</label>
              <label class="col-8 subtext"
                style="margin-bottom: 0px; color: #E78D8D; padding-left: 10px;">รอการตรวจสอบ</label>
            </div>
            <label class="col-4 text">สินค้าที่ติดตั้ง:</label>
            <label class="col-8 subtext">เครื่องทำน้ำแข็ง (IM)</label>
            <label class="col-4 text">รหัสสินค้า:</label>
            <label class="col-8 subtext">IMI01IceM402(H)</label>
            <label class="col-4 text">ชื่อสินค้า:</label>
            <label class="col-8 subtext">Ice machine Half cube Icematic M402 (H)</label>
            <label class="col-4 text">Serial No:</label>
            <label class="col-8 subtext">CMA1011751</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>