  <ion-toolbar>
    <ion-title>ความคิดเห็นของร้าน</ion-title>
    <ion-buttons slot="primary">
      <ion-icon slot="end" name="close" (click)="closeModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

<ion-content>

  <ion-item>
    <ion-label>ความคิดเห็นเพิ่มเติมของร้าน</ion-label>
  </ion-item>
  <ion-item>    
    <textarea class="form-control" rows="3" [(ngModel)]="Cuscomment"></textarea>
  </ion-item>
  <ion-item *ngIf="type != 'INSTALL' else install" #install>
    <ion-label color="primary" stacked>รหัสยืนยันตัวตนลูกค้า</ion-label>
    <ion-input type="number" placeholder="กรอกรหัสยืนยันตัวตนลูกค้า" [(ngModel)]="code"></ion-input>
  </ion-item>
  <div class="text-center" style="margin-top: 10px;">
  <ion-button shape="round" class="text-center" (click)="submit()">ยืนยัน</ion-button>
</div>
</ion-content>