<ion-header>
  <ion-toolbar>
    <ion-title>รหัสยืนยันตัวตนลูกค้า</ion-title>
    <ion-buttons slot="primary">
      <ion-icon slot="end" name="close" (click)="closeModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" stacked>รหัสยืนยันตัวตนลูกค้า</ion-label>
    <ion-input type="text" placeholder="กรอกรหัสยืนยันตัวตนลูกค้า" [(ngModel)]="code"></ion-input>
  </ion-item>
  <div class="text-center">
  <ion-button shape="round" class="text-center" (click)="submit()">ยืนยัน</ion-button>
</div>
</ion-content>