<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สินค้าและคู่มือ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-12 col-md-3" style="padding-right:5px;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="tab text-left">กลุ่ม: </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Accessories Ice bin (ต่างประเทศ) ขนาด 30" Icematic D205 <br/>
                ประเภท: Ice bin (ถังน้ำแข็งจากต่างประเทศ)</li>
                <li class="list-group-item">Accessories ถาดรองน้ำ ประดิษฐ์โลหะกิจ N 1 model<br/>
                ประเภท: Water plate (ถาดรองน้ำ)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6" style="padding:0;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="tab text-center">รายละเอียดสินค้า</div>

            <div class="col-12 col-md-12">
              <label class="col-6 col-md-3 head">ชื่อสินค้า: </label>
              <label class="col-6 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">รหัสสินค้า: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">รายละเอียด: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">ประเภท 1: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">ประเภท 2: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">ประเภท 3: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">กลุ่มสินค้า: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>

            <div class="col-12 col-md-12">
              <label class="col-3 col-md-3 head">รหัสกลุ่มสินค้า: </label>
              <label class="col-9 col-md-9 sub">-</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3" style="padding-left:5px;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="tab text-center">เอกสารและคู่มือสินค้า</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>