<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สินค้าและคู่มือ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-12 col-md-3" style="padding-right:5px;background-color:white;">
        <div class="portlet light">
          <div class="portlet-body">
            <ul class="list-group list-group-flush">
              <ion-item>
                <ion-label>กลุ่ม</ion-label>
                <ion-select interface="popover" placeholder="Accessories" (ionChange)="onChange($event)">
                  <ion-select-option *ngFor="let title of data" [value]="title.ProductID"
                    [selected]="title.ProductName">{{title.ProductName}}</ion-select-option>
                </ion-select>
              </ion-item>
              <li class="list-group-item" *ngFor="let item of product" (click)="detail(item)">
                <span>{{item.ItemsName}}</span><br />
                <span style="font-size: 1em;color: grey;">ประเภท: {{item.cat1}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6" style="padding:0;background-color:white;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="tab text-center">รายละเอียดสินค้า</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="col-12 col-md-12">
                  <label class="col-6 col-md-3 head">ชื่อสินค้า: </label>
                  <label class="col-6 col-md-9 sub">{{ItemsName}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">รหัสสินค้า: </label>
                  <label class="col-9 col-md-9 sub">{{ItemsCode}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">รายละเอียด: </label>
                  <label class="col-9 col-md-9 sub">{{Description}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">ประเภท 1: </label>
                  <label class="col-9 col-md-9 sub">{{cat1}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">ประเภท 2: </label>
                  <label class="col-9 col-md-9 sub">{{cat2}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">ประเภท 3: </label>
                  <label class="col-9 col-md-9 sub">{{cat3}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">กลุ่มสินค้า: </label>
                  <label class="col-9 col-md-9 sub">{{ProductName}}</label>
                </div>

                <div class="col-12 col-md-12">
                  <label class="col-3 col-md-3 head">รหัสกลุ่มสินค้า: </label>
                  <label class="col-9 col-md-9 sub">{{ProductCode}}</label>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-3" style="padding-left:5px;background-color:white;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="tab text-center">เอกสารและคู่มือสินค้า</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>