ion-content {
    --ion-background-color: #EEEEEE;
}

.container-fluid {
    padding: 0px;
}

.portlet {
    padding: 0px;

    .portlet-body {
        padding-top: 0px;
        margin-bottom: 20px;
    }
}

.tab {
    color: black;
    text-align: center;
    font-size: 1em;
    background-color: #BDBDBD;
}

.head {
    font-size: 1em;
    font-weight: bold;
    line-height: 3rem;
}

.sub {
    font-size: 1em;
    line-height: 3rem;
}