<ion-toolbar>
  <ion-title>ประเมินร้านค้า</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="form-group" style="margin-top: 20px;">
              <label class="col-md-4 control-label">หัวข้อการแก้ปัญหา</label>
              <div class="col-md-8">
                <ion-select interface="popover" (ionChange)="onChange($event)">
                  <ion-select-option *ngFor="let title of data" [value]="title.id"
                    [selected]="title.resolution">{{title.resolution}}</ion-select-option>
                </ion-select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" style="margin-top: 20px;">
              <label class="col-md-4 control-label">สาเหตุของปัญหา</label>
              <div class="col-md-8">
              <textarea class="form-control" rows="3" [(ngModel)]="resolutiondetail"></textarea>
            </div>
            </div>
          </div>
         
        </div> 
        <div class="col-md-12 text-center">
          <ion-button  (click)="submit()">บันทึก</ion-button>
        </div>
  </div> 

</ion-content>