<ion-toolbar>
  <ion-title>ความคิดเห็นเพิ่มเติม</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
      <div class="row">
          <div class="col-12" style="margin-top: 20px;" #show *ngIf="jobtype == 'CM'; else show">
              <label class="col-md-4 control-label">หัวข้อการแก้ปัญหา</label>
              <div class="col-md-8" style="padding: 0px;">
                <ion-select interface="popover" (ionChange)="onChange($event)">
                  <ion-select-option *ngFor="let title of data" [value]="title.SystemID"
                    [selected]="title.SystemDataName">{{title.SystemDataName}}</ion-select-option>
                </ion-select>
            </div>
          </div>
          <div class="col-12" #show *ngIf="jobtype == 'CM'; else show">
            <ion-item>
              <ion-label>สาเหตุของปัญหา</ion-label>
            </ion-item>
            <ion-item>    
              <textarea class="form-control" rows="3" [(ngModel)]="resolutiondetail"></textarea>
            </ion-item>
          </div>
        
          <div class="col-12">
            <ion-item>
              <ion-label>ความคิดเห็นเพิ่มเติมที่มีต่อร้าน</ion-label>
            </ion-item>
            <ion-item>    
              <textarea class="form-control" rows="3" [(ngModel)]="TecComment"></textarea>
            </ion-item>
          </div>         
        </div> 
        <div class="col-md-12 text-center" style="margin-top: 10px;">
          <ion-button  (click)="submit()">บันทึก</ion-button>
        </div>
  </div> 

</ion-content>