<ion-toolbar>
  <ion-title *ngIf="jobtype == 'PM' else pm" #pm>เปลี่ยนอะไหล่</ion-title>
  <ion-title *ngIf="jobtype == 'INSTALL' && type!= 'device' else install" #install>เพิ่มอุปกรณ์เสริม</ion-title>
  <ion-title *ngIf="type == 'device' else device" #device>เพิ่มเครื่อง</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="checkin()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container-fluid">
    <div *ngIf="jobtype == 'PM' else pm" #pm>
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <div class="table-scrollable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> ลำดับที่ </th>
                      <th> ชื่ออุปกรณ์เสริม </th>
                      <th> Part No. </th>
                      <th> จำนวน </th>
                      <th> ยอดคงเหลือ </th>
                      <th> หน่วย </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data; let i = index">
                      <td style="padding-top:15px;">
                        {{i+1}}
                      </td>
                      <td style="padding-top:15px;"> {{item.Name}} </td>
                      <td style="padding-top:15px;"> {{item.SKUCode}}</td>
                      <td> <input type="text" style="padding: 8px;" [(ngModel)]="item.No" /></td>
                      <td style="padding-top:15px;">{{item.Balance}}</td>
                      <td style="padding-top:15px;">{{item.Unit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <ion-button shape="round" color="success" class="text-center" (click)="submit(data)">บันทึก</ion-button>
      </div>
    </div>
    <div *ngIf="jobtype == 'INSTALL' && type!= 'device' else install" #install>
      <ion-list>
        <ion-item *ngFor="let i of qty;">
          ชื่ออุปกรณ์เสริม : {{i.Name}}
          จำนวน : {{i.No}}
        </ion-item>
      </ion-list>
      <div class="tab-content" *ngIf="isShowSpare">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <div class="table-scrollable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> ลำดับที่ </th>
                      <th> ชื่ออุปกรณ์เสริม </th>
                      <th> รหัสสินค้า </th>
                      <th> จำนวน </th>
                      <th> หน่วย </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Spare; let i = index">
                      <td style="padding-top:15px;">
                        {{i+1}}
                      </td>
                      <td style="padding-top:15px;"> {{item.Name}} </td>
                      <td style="padding-top:15px;"> {{item.Serial}} </td>
                      <td style="padding-top:15px;">{{item.No}}</td>
                      <td style="padding-top:15px;">{{item.Unit}}</td>
                      <td>
                        <ion-button color="danger" class="text-center" (click)="DeleteSpare(item,i)">ลบ</ion-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <ion-button shape="round" color="success" class="text-center" (click)="SaveSpareIn(Spare)">บันทึก</ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-item>
        <ion-icon name="search" (click)="Searchsku()"></ion-icon>
        <ion-input type="text" placeholder="Part No." name="skuID" [(ngModel)]="skuID" (ngModelChange)="skuID = $event.toLocaleUpperCase()"></ion-input>
        <ion-icon name="barcode" (click)="scan()"></ion-icon>
      </ion-item>
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <div class="table-scrollable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> ลำดับที่ </th>
                      <th> ชื่ออุปกรณ์เสริม </th>
                      <th> รหัสสินค้า </th>
                      <th> จำนวน </th>
                      <th> หน่วย </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Sparestorage; let i = index">
                      <td style="padding-top:15px;">
                        {{i+1}}
                      </td>
                      <td style="padding-top:15px;"> {{item.Name}} </td>
                      <td style="padding-top:15px;"> {{item.Serial}} </td>
                      <td style="padding-top:15px;">{{item.No}}</td>
                      <td style="padding-top:15px;">{{item.Unit}}</td>
                      <td>
                        <ion-button color="warning" class="text-center" (click)="AddSpare(item,i)"> เลือก</ion-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="type == 'device' else device" #device>
      <div class="tab-content" *ngIf="isShowDevice">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <div class="table-scrollable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> ชื่อเครื่อง </th>
                      <th> Serial No. </th>
                      <th> ประเภทเครื่อง </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Device; let i = index">
                      <td style="padding-top:15px;"> {{item.AssetNo}} </td>
                      <td style="padding-top:15px;"> {{item.SerialNo}}</td>
                      <td style="padding-top:15px;">{{item.AssetTypeID}}</td>
                      <td>
                        <ion-button color="danger" class="text-center" (click)="DeleteDevice(item,i)"> ลบ</ion-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <ion-button shape="round" color="success" class="text-center" (click)="saveDevice(Device)">บันทึก</ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-item>
        <ion-icon name="search" (click)="Searchsku()"></ion-icon>
        <ion-input type="text" placeholder="Serial" name="skuID" [(ngModel)]="skuID" (ngModelChange)="skuID = $event.toLocaleUpperCase()"></ion-input>
        <ion-icon name="barcode" (click)="scan()"></ion-icon>
      </ion-item>
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <div class="table-scrollable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> ลำดับที่ </th>
                      <th> ชื่อเครื่อง </th>
                      <th> Serial No. </th>
                      <th> ประเภทเครื่อง </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Devicestorage; let i = index">
                      <td style="padding-top:15px;">
                        {{i+1}}
                      </td>
                      <td style="padding-top:15px;"> {{item.AssetNo}} </td>
                      <td style="padding-top:15px;"> {{item.SerialNo}}</td>
                      <td style="padding-top:15px;">{{item.AssetTypeID}}</td>
                      <td>
                        <ion-button color="warning" class="text-center" (click)="AddDevice(item,i)"> เลือก</ion-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>