<div style="width:100%">
  <ion-list-header>งานทั้งหมด</ion-list-header>
  <ion-item (click)="next('pm')">
    งานตรวจเช็ค
    <ion-badge slot="end" color="primary">{{pm}}</ion-badge>
  </ion-item>
  <ion-item (click)="next('cm')">
      งานซ่อม
    <ion-badge slot="end" color="secondary">{{cm}}</ion-badge>
  </ion-item>
  <ion-item (click)="next('install')">
    งานติดตั้ง
    <ion-badge slot="end" color="warning">{{install}}</ion-badge>
  </ion-item>
  <ion-item (click)="next('uninstall')">
    งานถอนการติดตั้ง
    <ion-badge slot="end" color="tertiary">{{uninstall}}</ion-badge>
  </ion-item>
  <ion-item (click)="next('waiting')">
    รอรับอะไหล่
    <ion-badge slot="end" color="danger">{{wait}}</ion-badge>
  </ion-item>
  <ion-item (click)="next('ice')">
    ชั่งน้ำแข็ง
    <ion-badge slot="end" color="medium">{{ice}}</ion-badge>
  </ion-item>
</div>