ion-content {
    --ion-background-color: #EEEEEE;
}

.container-fluid {
    padding: 5px;
}

.tab {
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #757575;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.text {
    padding: 0px;
    color: #757575;
    font-size: 2rem;
}
