ion-content {
    --ion-background-color: #EEEEEE;
}

.container-fluid {
    padding: 5px;
}

.tab {
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #757575;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.text {
    padding: 0px;
    color: #757575;
    font-size: 2rem;
}
.btn{
    font-size: 1.5rem;
    background-color: #BBDEFB;
    border-radius: 3px!important;
    padding-top: 0px;
}
