<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>งานทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div>
      <div class="col-12 tab">
        รายชื่อพนักงานและสรุปงานในเดือนนี้
      </div>
    </div>
    <div>
      <ion-list>
        <ion-item class="text">
          <ion-label class="col-6">คุณ สมภพ แสนกล้า</ion-label>
          <div class="col-6" text-right>งาน:  /เสร็จ: </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
