<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>งานทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
    <div class="col-md-12 col-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet box blue">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-user"></i>รายชื่อพนักงานและสรุปงานในเดือนนี้</div>

        </div>
        <div class="portlet-body">
          <!--BEGIN TABS-->
          <div class="tab-content">
              <div class="tab-pane active" id="tab_1_1">
                <div class="slimScrollDiv" style="position: relative;">
                  <div class="scroller" data-always-visible="1"
                    data-rail-visible="0" data-initialized="1">
                    <ul class="feeds">
                      <li *ngFor="let item of data" [routerLink]="['/joball/listpm']" (click)="click(item)">
                        <div class="">
                          <div class="pull-left">
                            <div class="desc" style="color: black; font-size:0.9em; padding: 5px;">
                              <label class="custom-control-label" for="defaultUnchecked">{{item.Name}}</label>
                            </div>
                          </div>
                          <div class="pull-right">
                            <a href="javascript:;" class="btn btn-sm blue" style="padding: 5px; width:100px;">
                              งาน: {{item.workall}} / เสร็จ: {{item.workfinish}} </a>
                          </div>
                        </div>
                      </li>                      
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          <!--END TABS-->
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
    <!-- <div>
      <div class="col-12 tab">
        รายชื่อพนักงานและสรุปงานในเดือนนี้
      </div>
    </div>
    <div>
      <ion-list style="padding: 0px; margin: 0px;">
        <ion-item class="text" [routerLink]="['/joball/listpm']">
          <ion-label class="text">คุณ สมภพ แสนกล้า</ion-label>
          <label class="btn">งาน: 20 / เสร็จ: 0</label>
        </ion-item>
      </ion-list>
    </div> -->
  </div>
</div>
</ion-content>