<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>PM: []</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid" style="position: fixed;">
    <div class="row" style="padding: 5px;">
      <div class="col-md-6 col-sm-6 ex3" style="padding-right: 5px; max-height:400px;">
        <div class="portlet light">
          <div class="portlet-body">
            <div class="listcheck text-center">รายการการตรวจเช็ค []</div>
            <div>
              <div class="col-12 text control-label">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x responsive" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 1 ถ่ายภาพก่อนการตรวจสอบ
                  </div>
                </div>
              </div>
              <div>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
              </div>
            </div>
            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 2 ถ่ายภาพหลังการตรวจสอบ
                  </div>
                </div>
              </label>
              <div>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
                <label class="col-4 camera responsive">
                  <i class="fa fa-camera fa-3x icon responsive"></i>
                </label>
              </div>
            </div>
            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 3 รายการที่ต้องตรวจเช็ค
                  </div>
                </div>
              </label>
              <label class="btn btn-lg" style="margin-left: 50px;">
                รายการตรวจเช็ค
              </label>
            </div>
            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 4 ลายเซ็นต์ผู้รับผิดชอบ
                  </div>
                </div>
              </label>
              <label style="margin-left: 50px;">
                <i class="fa fa-pencil fa-3x btnline"></i>
              </label>
            </div>
            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 5 ประเมินการทำงาน
                  </div>
                </div>
              </label>
              <label class="btn btn-lg" style="margin-left: 50px;">
                ประเมิน
              </label>
            </div>

            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 6 สรุปผลการตรวจเช็คและยืนยันการปิดงาน
                  </div>
                </div>
              </label>
              <label class="btn btn-lg" style="margin-left: 50px;">
                รหัสยืนยันตัวตนลูกค้า
              </label>
            </div>

            <div class="margin">
              <label class="col-12 text">
                <div class="row">
                  <div class="col-sm-1 text-center" style="padding-left: 0px;padding-right: 0px;">
                    <i class="fa fa-square-o fa-2x" style="margin-right: 5px;color:#3880FF;"></i>
                  </div>
                  <div class="col-sm-11" style="margin-top: -5px;padding-left: 0px;">
                    รายการที่ 7 บันทึกข้อมูลและส่งข้อมุลเข้าระบบ
                  </div>
                </div>
              </label>
              <label class="btn btn-lg" style="margin-left: 50px;">
                บันทึก
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 ex2" style="padding: 0px;">
        <div class="portlet light" style="margin-right: 15px;">
          <div class="portlet-body">
            <label class="status col-5">เวลาทำงาน</label>
            <label class="status col-7">สถานะ</label>
            <label class="col-5 time">00:00</label>
            <label class="col-7 wait">รอการตรวจสอบ</label>
            <div class="head col-12">สินค้าที่ติดตั้ง</div>
            <label class="col-4 product" style="margin-top: 5px;">สินค้าที่ติดตั้ง: </label>
            <label class="col-8 detailproduct">เครื่องทำน้ำแข็ง</label>
            <label class="col-4 product">รหัสสินค้า: </label>
            <label class="col-8 detailproduct">IMI01IcM402(H)</label>
            <label class="col-4 product">ชื่อสินค้า: </label>
            <label class="col-8 detailproduct">Ice machine Half cube Icematic M402 (H)</label>
            <label class="col-4 product">Serial No: </label>
            <label class="col-8 detailproduct">CMA1011751</label>
            <label class="col-4 product">ประเภท: </label>
            <label class="col-8 detailproduct">Cube</label>
            <div class="head col-12">เอกสารและคู่มือ</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>