<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>{{worktype}}: {{ItemsName}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-lg-3" style="padding: 0px;">
        <div class="row hidden" style="padding-left:15px;">
          <div class="col-4 hidden" style="padding: 0px; padding-right:2px;">
            <div class="portlet box blue">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-clock-o"></i>เวลาทำงาน</div>
              </div>
              <div class="portlet-body" style="margin: 0px;">
                <div class="portlet light ">
                  <div class="row">
                    <div class="col-12">
                      <p class="profile-desc-text" style="text-align: center">{{time}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="padding: 0px;">
            <div class="portlet box blue">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-bar-chart"></i>สถานะ</div>
              </div>
              <div class="portlet-body" style="margin: 0px;">
                <div class="portlet light ">
                  <div class="row">
                    <div class="col-12">
                      <p class="profile-desc-text" style="text-align: center; padding: 5px;">รอการตรวจสอบ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-bar-chart"></i>สถานะ</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">
              <div class="portlet light ">
                <div class="row">
                  <div class="col-12">
                    <p class="profile-desc-text" style="text-align: center; padding: 5px;">รอการตรวจสอบ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cube"></i>สินค้า</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">
              <div class="portlet light ">
                <div class="row">
                  <div class="col-4">
                    <p class="profile-desc-text">สินค้าที่ติดตั้ง:</p>
                    <p class="profile-desc-text">รหัสสินค้า:</p>
                    <p class="profile-desc-text" *ngIf="jobtype != 'INSTALL'">ชื่อสินค้า:</p>
                    <p class="profile-desc-text" *ngIf="jobtype == 'INSTALL' && OldItemsName != null">เครื่องที่รื้อถอน:
                    </p>
                    <p class="profile-desc-text" *ngIf="jobtype == 'INSTALL'">เครื่องที่ติดตั้ง:</p>
                    <p class="profile-desc-text">Serial No:</p>
                  </div>
                  <div class="col-8">
                    <p class="profile-desc-text">{{InstallPlanName}}</p>
                    <p class="profile-desc-text">{{ItemCode}}</p>
                    <p class="profile-desc-text" *ngIf="jobtype != 'INSTALL'">{{ItemsName}}</p>
                    <p class="profile-desc-text" *ngIf="jobtype == 'INSTALL' && OldItemsName != null">{{OldItemsName}}
                    </p>
                    <p class="profile-desc-text" *ngIf="jobtype == 'INSTALL'">{{ItemsName}}</p>
                    <p class="profile-desc-text">{{SerialNo}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding: 0px;" *ngIf="isdevice && jobtype == 'CM'">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cube"></i>เครื่องที่เปลี่ยน</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">
              <div class="portlet light" *ngFor="let i of devices;">
                <div class="row">
                  <div class="col-4">
                    <p class="profile-desc-text">สินค้าที่ติดตั้ง:</p>
                    <p class="profile-desc-text">ชื่อสินค้า:</p>
                    <p class="profile-desc-text">รหัสสินค้า:</p>
                    <p class="profile-desc-text">Serial No:</p>
                  </div>
                  <div class="col-8">
                    <p class="profile-desc-text">{{i.InstallPlanName}}</p>
                    <p class="profile-desc-text">{{i.ItemCode}}</p>
                    <p class="profile-desc-text">{{i.ItemsName}}</p>
                    <p class="profile-desc-text">{{i.SerialNo}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding: 0px;" *ngIf="isspare && jobtype == 'CM'">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cube"></i>อะไหล่ที่เปลี่ยน</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">
              <div class="portlet light" *ngFor="let i of spares;">
                <div class="row">
                  <div class="col-4">
                    <p class="profile-desc-text">ชื่ออุปกรณ์เสริม :</p>
                    <p class="profile-desc-text">Part No. :</p>
                  </div>
                  <div class="col-8">
                    <p class="profile-desc-text">{{i.Name}}</p>
                    <p class="profile-desc-text">{{i.Serial}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9" style="padding: 0px;">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-sticky-note-o"></i>รายการตรวจเช็ค
              <ion-label>ร้าน {{CustomerName}} {{planDate}} </ion-label>
            </div>
          </div>

          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle1">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span style="font-size: 1.1em!important;" class="caption-subject font-blue-sharp bold uppercase">
                      {{title1}} </span>
                  </div>
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src1" *ngIf="isShowImage1" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src2" *ngIf="isShowImage2" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src3" *ngIf="isShowImage3" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src4" *ngIf="isShowImage4" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src5" *ngIf="isShowImage5" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src6" *ngIf="isShowImage6" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src7" *ngIf="isShowImage7" />
                </div>
                <div class="col-3 text-center">
                  <img [src]="img.src8" *ngIf="isShowImage8" />
                </div>

                <div class="col-1 text-center">
                </div>

                <div class=" col-2 text-center" *ngIf="isInstall">
                  <div #take1 *ngIf="isShow1 == false ; else take1">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(1)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo1" *ngIf="isShow1" (click)="Take(1)">
                </div>

                <div class="col-2 text-center" *ngIf="isInstall">
                  <div #take2 *ngIf="isShow2 == false ; else take2">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(2)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo2" *ngIf="isShow2" (click)="Take(2)" />
                </div>

                <div class="col-2 text-center" *ngIf="isInstall">
                  <div #take3 *ngIf="isShow3 == false ; else take3">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(3)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo3" *ngIf="isShow3" (click)="Take(3)">
                </div>

                <div class="col-2 text-center" *ngIf="isInstall">
                  <div #take4 *ngIf="isShow4 == false ; else take4">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(4)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo4" *ngIf="isShow4" (click)="Take(4)">
                </div>

                <div class="col-2 text-center" *ngIf="isInstall">
                  <div #take5 *ngIf="isShow5 == false ; else take5">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(5)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo5" *ngIf="isShow5" (click)="Take(5)">
                </div>

                <div class="col-12" *ngIf="isPM">
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-3 text-center" style="margin-bottom: 80px;" *ngFor="let p of productphoto">
                      <div>{{p.Name}}</div>
                      <div #take *ngIf="p.show == false ; else take">
                        <ion-fab style="margin-top: 25px;" vertical="bottom" horizontal="center" class="button-native">
                          <ion-fab-button (click)="TakePM(p)">
                            <ion-icon name="camera"></ion-icon>
                          </ion-fab-button>
                        </ion-fab>
                      </div>
                      <img [src]="apiServer_url + p.img" *ngIf="p.show" (click)="TakePM(p)">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="text-center" style="padding-left: 10px;">
                      <button (click)="showimgremark()" class="btn default" style="width: 100%;">
                        รูปภาพเพิ่มเติม </button>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="isimgRemark" style="margin-top: 10px;margin-bottom: 10px;;">
                    <div class="row">
                      <div class="col-1 text-center">
                      </div>

                      <div class=" col-2 text-center" *ngFor="let p of photoremark">
                        <div #takere *ngIf="p.show == false ; else takere">
                          <ion-fab vertical="bottom" horizontal="center" class="button-native">
                            <ion-fab-button (click)="TakePMRe(p)">
                              <ion-icon name="camera"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </div>
                        <img [src]="apiServer_url + p.img" *ngIf="p.show" (click)="TakePMRe(p)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle2">
            <div class="portlet light">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title2}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-1 text-center">
                </div>
                <div class="col-2 text-center" *ngIf="isnotPM">
                  <div #take6 *ngIf="isShow6 == false ; else take6">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(6)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo6" *ngIf="isShow6" (click)="Take(6)">
                </div>
                <div class="col-2 text-center" *ngIf="isnotPM">
                  <div #take7 *ngIf="isShow7 == false ; else take7">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(7)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo7" *ngIf="isShow7" (click)="Take(7)">
                </div>
                <div class="col-2 text-center" *ngIf="isnotPM">
                  <div #take8 *ngIf="isShow8 == false ; else take8">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(8)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo8" *ngIf="isShow8" (click)="Take(8)">
                </div>

                <div class="col-2 text-center" *ngIf="isnotPM">
                  <div #take9 *ngIf="isShow9 == false ; else take9">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(9)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo9" *ngIf="isShow9" (click)="Take(9)">
                </div>

                <div class="col-2 text-center" *ngIf="isnotPM">
                  <div #take10 *ngIf="isShow10 == false ; else take10">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(10)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo10" *ngIf="isShow10" (click)="Take(10)">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle3">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title3}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div #nospare class="col-6 text-center" style="padding-left: 10px;"
                  *ngIf="jobtype != 'INSTALL' else nospare">
                  <button (click)="check()" [disabled]="!isenabledcheck" class="btn default">
                    รายการตรวจเช็ค </button>
                </div>
                <div #device class="col-6 text-center" style="padding-left: 10px;"
                  *ngIf="SerialNoInstall == '-' && jobtype == 'INSTALL' else device">
                  <button (click)="changspare('device')" [disabled]="!isenabledadddevice" class="btn default">
                    เพิ่มเครื่อง </button>
                </div>
                <div #spare class="col-6 text-center" style="padding-left: 10px;"
                  *ngIf="jobtype == 'INSTALL' else spare">
                  <button (click)="changspare()" [disabled]="!isenabledadddevice" class="btn default">
                    เพิ่มอุปกรณ์เสริม </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <div *ngIf="sparetype != '' && jobtype == 'PM'; else sparepart">
                    <button (click)="changspare()" [disabled]="!isenabledspare" class="btn default" #sparepart>
                      รายการเปลี่ยนอะไหล่ </button>
                  </div>
                  <div *ngIf="jobtype == 'CM' && request == null; else CM">
                    <button (click)="takerequest()" class="btn default" #CM [disabled]="!isenabledrequest">
                      ใบเบิกอะไหล่ </button>
                  </div>
                  <img *ngIf="jobtype == 'CM' && request != null ; else imgrequest" [src]="request"
                    (click)="takerequest()" #imgrequest>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle7">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title7}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" (click)="openModalcustomereva()" [disabled]="!isenabledcuseva">
                    ประเมิน </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle5">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 15px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title5}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" [disabled]="!isenabledeva" (click)="clickeva()">
                    ประเมิน </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle4">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 15px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title4}}</span>
                    <div *ngIf="showSig">
                      <img class="sig" [src]="sign" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" (click)="Modal()" [disabled]="!isenabledsig"> ลายเซ็นต์ผู้รับผิดชอบ
                  </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>

          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle6">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption" style="margin-top: 15px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title6}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" *ngIf="jobtype == 'INSTALL' else spare" #spare
                    (click)="openModalcustomerpw()" [disabled]="!isenabledcuspass">
                    ยืนยันการปิดงาน </button>
                  <button class="btn default" *ngIf="jobtype != 'INSTALL' else all" #all (click)="openModalcustomerpw()"
                    [disabled]="!isenabledcuspass">
                    รหัสยืนยันตัวตนลูกค้า </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle8">
            <div class="portlet light ">
              <div class="row">
                <div class="col-12">
                  <div class="caption">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title8}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" [disabled]="!isenabledsave" (click)="saveData()">
                    บันทึก </button>
                </div>
                <div class="col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="log()">
    <ion-fab-button>
      <ion-icon name="alert"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>