<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>{{jobtype}}: {{ItemsName}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-6 col-md-6 col-sm-6" style="padding: 0px;" id="LeftPhoto">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-sticky-note-o"></i>
              รายการการตรวจเช็ค {{planDate}}
            </div>
          </div>

          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle1">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span style="font-size: 1.1em!important;" class="caption-subject font-blue-sharp bold uppercase">
                      {{title1}} </span>
                  </div>
                </div>

                <!-- <ion-button (click)="takeSnap()">
                Take Snap
              </ion-button>

              <img [src]="capturedSnapURL" /> -->
                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake1">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(1)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo1" *ngIf="isShow1">
                </div>

                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake2">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(2)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo2" *ngIf="isShow2" />
                </div>

                <div class="col-md-2 col-2 text-center" *ngIf="isInstall">
                  <div *ngIf="isTake3">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(3)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo3" *ngIf="isShow3">
                </div>

                <div class="col-md-2 col-2 text-center" *ngIf="isInstall">
                  <div *ngIf="isTake4">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(4)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo4" *ngIf="isShow4">
                </div>

                <div class="col-md-2 col-2 text-center" *ngIf="isInstall">
                  <div *ngIf="isTake5">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(5)">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo5" *ngIf="isShow5">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle2">
            <div class="portlet light">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title2}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake6">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(6)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo6" *ngIf="isShow6">
                </div>
                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake7">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(7)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo7" *ngIf="isShow7">
                </div>
                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake8">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(8)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo8" *ngIf="isShow8">
                </div>

                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake9">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(9)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo9" *ngIf="isShow9">
                </div>

                <div class="col-md-2 col-2 text-center">
                  <div *ngIf="isTake10">
                    <ion-fab vertical="bottom" horizontal="center" class="button-native">
                      <ion-fab-button (click)="Take(10)" [disabled]="!isenabledTakeback">
                        <ion-icon name="camera"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </div>
                  <img [src]="photo10" *ngIf="isShow10">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle3">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title3}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                  <button (click)="check()" [disabled]="!isenabledcheck" class="btn default">
                    รายการตรวจเช็ค </button>
                </div>
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle4">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title4}}</span>
                    <div *ngIf="showSig">
                      <img class="sig" [src]="sign" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" (click)="Modal()" [disabled]="!isenabledsig"> ลายเซ็นต์ผู้รับผิดชอบ
                  </button>
                </div>
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle5">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title5}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" [disabled]="!isenabledeva" (click)="clickeva()">
                    ประเมิน </button>
                </div>
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle6">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption" style="margin-top: 20px;">
                    <p><i class="fa fa-map-pin font-blue-sharp"></i>
                      <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.2em!important;">
                        {{title6}}</span></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" (click)="openModalcustomerpw()" [disabled]="!isenabledcuspass">
                    รหัสยืนยันตัวตนลูกค้า </button>
                </div>
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>

          <div class="portlet-body" style="margin: 0px;" *ngIf="isenabledtitle7">
            <div class="portlet light ">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="caption">
                    <i class="fa fa-map-pin font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" style="font-size: 1.1em!important;">
                      {{title7}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                  <button class="btn default" [disabled]="!isenabledsave" (click)="saveData()">
                    บันทึกและย้อนกลับ </button>
                </div>
                <div class="col-md-6 col-6 text-center" style="padding-left: 10px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 5px;" id="RightPhoto">
        <div class="row" style="padding-left:15px;">
          <div class="col-4 col-md-4 col-sm-4" style="padding: 0px; padding-right:2px;">
            <div class="portlet box blue">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-clock-o"></i>เวลาทำงาน</div>
              </div>
              <div class="portlet-body" style="margin: 0px;">
                <div class="portlet light ">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <p class="profile-desc-text" style="text-align: center">{{time}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-8 col-sm-8 ex2" style="padding: 0px;">
            <div class="portlet box blue">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-bar-chart"></i>สถานะ</div>
              </div>
              <div class="portlet-body" style="margin: 0px;">
                <div class="portlet light ">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <p class="profile-desc-text" style="text-align: center; padding: 5px;">รอการตรวจสอบ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12 ex2" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cube"></i>สินค้าที่ติดตั้ง</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">
              <div class="portlet light ">
                <div class="row">
                  <div class="col-md-4 col-4">
                    <p class="profile-desc-text">สินค้าที่ติดตั้ง:</p>
                    <p class="profile-desc-text">รหัสสินค้า:</p>
                    <p class="profile-desc-text">ชื่อสินค้า:</p>
                    <p class="profile-desc-text">Serial No:</p>
                    <p class="profile-desc-text">ประเภท:</p>
                  </div>
                  <div class="col-md-8 col-8">
                    <p class="profile-desc-text">{{InstallPlanName}}</p>
                    <p class="profile-desc-text">{{ItemCode}}</p>
                    <p class="profile-desc-text">{{ItemsName}}</p>
                    <p class="profile-desc-text">{{SerialNo}}</p>
                    <p class="profile-desc-text">{{Category}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-sm-12 ex2" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-book"></i>เอกสารและคู่มือ</div>
            </div>
            <div class="portlet-body" style="margin: 0px;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>