ion-content {
    --ion-background-color: #EEEEEE;
    font-size: 0.9em;
}

// .container-fluid {
//     padding: 0px;
//     background-color: #EEEEEE;
// }

.title{
    font-size: 1.5em;
    font-weight: bold;
}
.icon {
    padding: 20px;
    text-align: center;
    border-radius: 2px !important;
}
p{
    padding: 5px;
    margin: 0px;
    font-size: 0.9em;
}
.button-native {
    top: 0px!important;
}
// .btnline {
//     padding: 20px;
//     background: #D6D7D7;
//     color: black;
//     text-align: center;
//     border-radius: 2px !important;
// }

// .margin {
//     margin-top: 10px;
// }

// .listcheck {
//     color: white;
//     text-align: center;
//     font-size: 0.9em;
//     background-color: #757575;
//     padding: 5px;
//     margin-bottom: 10px;
// }


// .camera {
//     text-align: center;
// }


// .text {
//     color: black;
//     font-size: 0.9em;
//     align-items: center;
// }


.btn {
    text-align: center;
    font-size: 0.9em;
    background-color: #D6D7D7;
    border-radius: 3px !important;
    width: 80%;
}

// .status {
//     padding: 5px;
//     display: inline-block;
//     text-align: center;
//     font-size: 0.9em;
//     background-color: #BBDEFB;
//     border-radius: 3px !important;
//     margin-bottom: 5px;
// }

// .head {
//     padding: 5px;
//     text-align: center;
//     font-size: 0.9em;
//     background-color: #BBDEFB;
//     border-radius: 3px !important;
// }

// .time {
//     padding: 0px;
//     font-size: 0.9em;
//     text-align: center;
//     font-weight: bold;
// }

// .wait {
//     padding: 0px;
//     font-size: 0.9em;
//     color: #757575;
//     text-align: center;
// }

// .product {
//     color: black;
//     font-size: 0.9em;
//     margin-bottom: 5px;
//     font-weight: bold;
// }

// .detailproduct {
//     color: black;
//     font-size: 0.9em;
//     line-height: 0.9em;
// }
.sig{
    width: 25%;
    height: 20%;
}
.caption{
    font-size: 0.9em !important;
    padding: 5px;
}
span{
    font-size: 0.9em;
}