<ion-toolbar>
  <ion-title>ลายเซ็นผู้รับผิดชอบ</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div id="sig" class="sig">
    <div *ngIf="isShow">
      <img [src]="sig"/>
    </div>
    <div class="sig-body" *ngIf="isSign">
      <signature-pad [options]="signaturePadOptions"></signature-pad>
    </div>
    <div class="text-center">
    <ion-button (click)="savePad()" *ngIf="isSave">บันทึก</ion-button>
    <ion-button color="dark" (click)="clearPad()">รีเซ็ต</ion-button>
  </div>
    <!-- <ion-button color="danger" (click)="close()">ปิด</ion-button> -->
  </div>

</ion-content>
