<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>ภาพรวมการทำงาน</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-12 col-md-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-th-large" style="font-size: 2em;"></i>ประเภทเครื่อง</div>
            </div>
            <div class="portlet-body" style="padding: 2px;">
              <div class="row">
                <div class="col-4">
                <ion-list>
                  <ion-item class="item" *ngFor="let item of data" (click)="onChange(item)">
                    <ion-label>{{item.name}}</ion-label>
                  </ion-item>
                </ion-list>
              </div>
              <div class="col-8">
                <div class="tab-content">
                    <div class="tab-pane active">
                      <div class="row">
                        <div class="col-12">
                          <div class="table-scrollable">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th> ชื่อสินค้า </th>
                                  <th> จำนวน </th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr *ngFor="let item of list; let i = index"> -->
                                <tr>
                                  <!-- <td> {{i+1}}</td>
                                                  <td> {{item.ServiceReportNo}} </td>
                                                  <td> {{item.CustomerName}} </td>
                                                  <td> {{item.Status}} </td>
                                                  <td> {{item.CreatedDate}} </td> -->
                                  <td>{{header}} </td>
                                  <td> </td>
                                  <td>
                                    <span class="label label-sm label-warning circle" (click)="View()">ดู</span>
                                  </td>
                                  <!-- <td *ngIf="item.Status == 'กำลังดำเนินการ'; else lblView" > 
                                                    <span class="label label-sm label-warning circle" #lblView
                                                    (click)="Detail(item)">แก้ไข</span>
                                                </td>
                                                <td *ngIf="item.Status == 'กำลังดำเนินการ'; else lblView" > 
                                                  <span class="label label-sm label-danger circle" #lblView
                                                  (click)="Delete(item)">ลบ</span> -->
                                  <!-- </td> -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
