ion-content {
    --ion-background-color: white;
}
ion-label{
    font-size: 0.8em!important;
}
ion-input{
    font-size: 0.8em!important;
}
ion-textarea{
    font-size: 0.8em!important;
}
// ion-button{
//     font-size: 1em!important;
// }
.container-fluid {
    padding: 0px;
}
ion-select{
    font-size: 0.8em!important;
    --ion-background-color: white;
}
ion-select-option{
    font-size: 0.8em!important;
    --ion-background-color: white;
}