<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>รายละเอียดการเบิกอะไหล่</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-md-12 col-12">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>ข้อมูลลูกค้า</div>
          </div>
          <div class="portlet-body">
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-6">
                    <ion-list>
                      <ion-item>
                        <div class="col-4">
                        <ion-label color="primary">รหัสลูกค้า</ion-label>
                      </div>
                      <div class="col-8">
                        <ion-input [(ngModel)]="CustomerCode"></ion-input>
                      </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">ชื่อลูกค้า</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-select interface="popover" (ionChange)="onChange($event)">
                          <ion-select-option *ngFor="let title of Cus" [value]="title.CustomerID"
                            [selected]="title.CustomerName">{{title.CustomerName}}</ion-select-option>
                        </ion-select>
                        </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">ที่อยู่ร้าน</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-textarea rows="3" [(ngModel)]="AddressSite" [disabled]="true"></ion-textarea>
                        </div>
                      </ion-item>
                          <ion-item>
                              <div class="col-4">
                              <ion-label color="primary">เบอร์โทรศัพท์ร้าน</ion-label>
                              </div>
                              <div class="col-8">
                              <ion-input [(ngModel)]="TelCompany"></ion-input>
                              </div>
                            </ion-item>                   
                    </ion-list>
                  </div>
                  <div class="col-6">
                    <ion-list>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">หมายเลขเอกสาร</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-input [(ngModel)]="ServiceReportNo"></ion-input>
                      </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">วันที่เบิก</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
                      </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">เบอร์โทรศัพท์ช่าง</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-input [(ngModel)]="EngineerTel"></ion-input>
                      </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">อ้างอิง</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-input [(ngModel)]="Reference"></ion-input>
                      </div>
                      </ion-item>
                      <ion-item>
                          <div class="col-4">
                        <ion-label color="primary">ชื่อช่าง</ion-label>
                        </div>
                        <div class="col-8">
                        <ion-label>{{name}}</ion-label>
                      </div>
                      </ion-item>
                    </ion-list>
                  </div>
                  <div class="col-12" style="text-align: center;">
                    <ion-button slot="end" (click)="ShowSpare()">เบิกอะไหล่</ion-button>
                  </div>
                </div>
              </div>
            </div>            
          </div>          
        </div>        
      </div>
      <div class="col-md-12 col-12" *ngIf="isShow">
      <div class="portlet light ">
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> ลำดับที่ </th>
                            <th> ประเภทเครื่อง </th>
                            <th> รายละเอียดเครื่อง </th>
                            <th> จำนวน </th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list">
                            <td>  </td>
                            <td> {{item.AssetType}} </td>
                            <td> {{item.AssetNo}} </td>
                            <td> {{item.Qty}} </td>                            
                            <td>
                                <span class="label label-sm label-warning" (click)="Edit(item)"> แก้ไข </span>
                            </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>     
    </div>
  </div>
</ion-content>
