ion-content {
    --ion-background-color: #2196F3;
}
.img{
  width: auto;
  margin: auto;
  display: block;
}
.head{
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: #124BA3;
}
.form-control {
  box-shadow: none;
  border-color: #ddd;
}
.text{
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: black;
}
