ion-content{
    --ion-background-color:#EEEEEE;
}
ion-content {
    font-size: 1em;
    color: black;

    .bg{
        background-color: white;
    }
    .btn {
        font-size: 1em;
    }
    .card{
        padding: 0px;
        border-radius: 5px!important;
    }
    .container-fluid{
        background-color: #EEEEEE;
    }
    .background{
        background-color: white;
        padding-top:  5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        // position: fixed;
        // width: 100%;
    }    
    .circle { 
        text-align: center;
        font-size: 1em;
        border-radius: 5px!important;
    }
    .text{
        text-align: center;
        font-size: 1em;
    }
    .head{
        font-size: 1em;
        color: #777777;
    }
    .subhead{
        font-size: 1rem;
        color: #777777;
    }   
    div.ex2 {
        overflow-y: hidden;
      }
      div.ex3 {
        overflow-y: scroll;
      }
}
