ion-content{
    --ion-background-color:#EEEEEE;
}
ion-content {
    font-size: 1.5rem;
    color: black;

    .btn {
        font-size: 1.5rem;
    }
    .container-fluid{
        background-color: #EEEEEE;
    }
    .background{
        background-color: white;
        padding-top:  5px;
        padding-left: 5px;
        padding-right: 5px;
    }    
    .circle {
        border-radius: 5px!important;
    }
}
