<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-left">งานของในความรับผิดชอบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-4 col-md-4 col-sm-4 background text-center" style="padding: 0px; background-color: white;"
          id="Left">
          <div class="col-12" style="padding: 2px;">
            <button type="button" class="btn default" [routerLink]="['/job/reportcheckpm']">
              <i class="fa fa-check"></i> รายการตรวจเช็ค (PM)
            </button>
            </div>
          <div class="col-12" style="padding: 2px;">
            <button type="button" class="btn default" (click)="next('cm')">
              <i class="fa fa-check"></i> รายการซ่อมบำรุง (CM)
            </button>
          </div>
          <div class="col-12" style="padding: 2px;">
            <button type="button" class="btn default" (click)="next('install')">
              <i class="fa fa-check"></i> รายการติดตั้ง (Install) 
            </button>
          </div>
          <div class="col-12" style="padding: 2px;">
            <button type="button" class="btn default" (click)="next('uninstall')">
              <i class="fa fa-check"> </i> รายการถอนการติดตั้ง (Uninstall)
            </button>
          </div>
          <div class="col-12" style="padding: 2px;">
            <button type="button" class="btn default" [routerLink]="['/job/calendarpm']">
              <i class="fa fa-calendar"></i>  ปฏิทิน
            </button>
          </div>
        </div>

        <div class="col-8 col-md-8 col-sm-8" style="padding: 0px; padding-left: 5px;" id="Right">
          <div class="portlet blue box" style="margin-top:0px!important;">
            <div class="portlet-title" style="margin-top:0px;">
              <div class="caption">
                <i class="fa fa-check"></i>รายการผ่านการตรวจเช็คล่าสุด </div>
            </div>
            <div class="portlet-body" style="padding-top: 5px;">
              <div class="row" *ngFor="let item of jobresolve" [routerLink]="['/job/jobdetail']" (click)="click(item)"
                style="padding: 5px;">
                <label class="col-6 col-md-6 col-sm-6 head">
                  ชื่อลูกค้า: {{item.CustomerName}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  วันที่กำหนด: {{item.service_date_plan}}
                  <!-- วันที่กำหนด: {{item.service_date_plan | date: 'dd-MM-yyyy HH:mm:ss'}} -->
                </label>


                <label class="col-6 col-md-6 col-sm-6 head">
                  สินค้าที่ติดตั้ง: {{item.InstallPlanName}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เริ่มทำงาน: {{item.start_service_date}}
                </label>


                <label class="col-6 col-md-6 col-sm-6 head">
                  ชื่อสินค้า: {{item.ItemsName}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เสร็จงาน: {{item.end_service_date}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  Serial No: {{item.SerialNo}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เวลาที่ใช้: {{item.TimeSpent}}
                </label>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>