<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-left>งานของในความรับผิดชอบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid" style="position: fixed;">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-4 col-md-4 col-sm-4 background ex2" style="padding: 0px; background-color: white;">
          <!-- <button class="col-12 col-md-12 col-sm-12 btn btn-lg btn-block circle"
            style="height: 50px; background-color: #D6D7D7; padding: 0px;"
            [routerLink]="['/job/reportcheckpm']">รายการการตรวจเช็ค</button> -->
                      <!-- <button class="col-12 col-md-12 col-sm-12 btn btn-lg btn-block circle"
            style="height: 50px; background-color: #D6D7D7;"
            [routerLink]="['/job/calendarpm']">ปฏิทินการตรวจเช็ค</button> -->
            <div class="col-12" style="padding: 2px;"><button type="button" class="btn default" [routerLink]="['/job/reportcheckpm']"><i class="fa fa-check"></i> รายการการตรวจเช็ค</button></div>
            <div class="col-12" style="padding: 2px;"><button type="button" class="btn default" [routerLink]="['/job/calendarpm']"><i class="fa fa-calendar"></i> ปฏิทินการตรวจเช็ค</button></div>
        </div>

        <div class="col-8 col-md-8 col-sm-8 ex3" style="padding: 0px; padding-left: 5px; max-height:500px;">
          <div class="portlet blue box">
              <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-check"></i>รายการผ่านการตรวจเช็คล่าสุด </div>    
                </div>
            <div class="portlet-body" style="padding-top: 5px;">
              <div class="row" *ngFor="let item of data" [routerLink]="['/job/jobdetail']" routerDirection="forward"
                style="padding: 5px;">
                <label class="col-6 col-md-6 col-sm-6 head">
                  ชื่อลูกค้า: {{item.Name}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  วันที่กำหนด:
                </label>


                <label class="col-6 col-md-6 col-sm-6 head">
                  สินค้าที่ติดตั้ง:
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เริ่มทำงาน: {{item.TransferDate}}
                </label>


                <label class="col-6 col-md-6 col-sm-6 head">
                  ชื่อสินค้า:
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เสร็จงาน:
                </label>


                <label class="col-6 col-md-6 col-sm-6 head">
                  Serial No: {{item.TransferID}}
                </label>

                <label class="col-6 col-md-6 col-sm-6 head">
                  เวลาที่ใช้:
                </label>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- <div *ngFor="let item of data">
                <ion-list class="card">
                  <ion-item class="" [routerLink]="['/job/jobdetail']" routerDirection="forward">
                    <div class="col-6">
                      <ion-label class="head">ชื่อลูกค้า: {{item.Name}}</ion-label>
                      <ion-label class="head">สินค้าที่ติดตั้ง: </ion-label>
                      <ion-label class="head">ชื่อสินค้า: </ion-label>
                      <ion-label class="head" style="margin-bottom: 10px;">Serial No:{{item.TransferID}} </ion-label>
                    </div>
  
  
                    <div class="col-6">
                      <ion-label class="head">วันที่กำหนด: </ion-label>
                      <ion-label class="head">เริ่มทำงาน: </ion-label>
                      <ion-label class="head">เสร็จงาน: </ion-label>
                      <ion-label class="head">เวลาที่ใช้: </ion-label>
                    </div>
                  </ion-item>
                </ion-list>
              </div> -->
<!-- </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content> -->