ion-content{
    --ion-background-color:white;
}
ion-content {
    font-size: 0.9em!important;
    color: black;
    ion-label{
        font-size: 0.9em!important;
    }
    .bg{
        background-color: white;
        
    }
    .btn {
        font-size: 0.9em;
    }
    .card{
        padding: 0px;
        border-radius: 5px!important;
    }
    .container-fluid{
        background-color: #EEEEEE;
    }
    .background{
        background-color: white;
        padding-top:  5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        height: 100%!important;
    }    
    .circle {
        text-align: center;
        font-size: 0.9em;
        border-radius: 5px!important;
        font-weight: bold;
    }
    .text{
        text-align: center;
        font-size: 0.9em;
    }
    .head{
        font-size: 0.9em;
        color: #777777;
    }
    .subhead{
        font-size: 0.9em;
        color: #777777;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }
}
