<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ภาพรวมการทำงาน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="page-content-inner">
            <div class="row" style="padding: 10px">
                <div class="col-md-8">
                    <div class="portlet green-sharp box">
                        <div class="portlet-title">
                            <div class="tools pull-left">ข่าวใหม่
                            </div>
                            <div class="tools">
                                วันนี้
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="col-12 text-center" style="background-color: silver; padding:5px;">
                                ภาพรวมการทำงาน
                            </div>
                            <div class="btn default pull-left" data-toggle="modal" href="#basic">ก่อนหน้า</div>
                            <div class="btn red" data-toggle="modal" href="#basic">เดือน</div>
                            <div class="btn default pull-right" data-toggle="modal" href="#basic">ถัดไป </div>

                            <div style="padding: 5px">
                                <label class="col-6"> งานทั้งหมดในเดือน </label>
                                <label class="col-6 text-right"> 0 </label>
                            </div>
                            <div style="padding: 5px">
                                <label class="col-6"> เสร็จไปแล้ว </label>
                                <label class="col-6 text-right"> 0 </label>
                            </div>
                            <div style="padding-top: 10px;">
                                <div class="col-12 text-center" style="background-color: silver; padding-top:5px;">
                                    งานที่ยัง Upload ไม่สำเร็จ
                                </div>

                                <div style="padding: 5px">
                                    <label class="col-6"> ทั้งหมด </label>
                                    <label class="col-6 text-right"> 0 </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet green-sharp box">
                        <div class="portlet-title">
                            <div class="tools pull-left">ข้อมูลพนักงาน</div>
                        </div>
                        <div class="portlet-body">
                            <div>
                                <label class="col-2"> ชื่อ </label>
                                <label class="col-10"> คุณ </label>
                            </div>
                            <div>
                                <label class="col-2"> ชื่อผู้ใช้ </label>
                                <label class="col-10"> wingplus </label>
                            </div>
                            <div>
                                <label class="col-2"> หน้าที่ </label>
                                <label class="col-10"> Service Technical </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>