<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-left>ภาพรวมการทำงาน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="page-content-inner">
            <div class="row" style="padding: 5px">
                <div class="col-8" style="padding: 0px; background-color: white;">
                    <div class="portlet box gray-sharp box" style="margin-right: 5px;">
                        <div class="portlet-title tools" style="padding: 5px; margin-bottom: 0px; background-color: white;">
                            <div class="btn pull-left" style="margin-right: 5px; background-color: #BBDEFB; width: 30px;">0 </div><label
                                class="text">ข่าวใหม่</label>
                            <ion-datetime type="datetime-local" class="tool head-new pull-right"
                                displayFormat="DD MMM YYYY" [(ngModel)]="myDate" style="padding:0px;"></ion-datetime>
                        </div>
                        <div class="portlet-body" style="padding: 0px;">
                            <div class="col-12 text-center head-white"
                                style="background-color: #757575; padding: 5px; color: white;">
                                สรุปภาพรวมการทำงาน
                            </div>
                            <div class="col-12 text-center head-white" style="background-color: #BDBDBD; padding: 5px;">
                                <div class="btn  pull-left">ย้อนกลับ</div>
                                <label class="head-white center">สิงหาคม 2019</label>
                                <div class="btn  pull-right">ถัดไป </div>
                            </div>

                            <div>
                                <label class="col-6 head top"> งานทั้งหมดในเดือน </label>
                                <label class="col-6 head text-right">0</label>
                            </div>
                            <div>
                                <label class="col-6 head top"> เสร็จไปแล้ว </label>
                                <label class="col-6 head text-right"> 0</label>
                            </div>
                            <div style="padding-top: 5px;">
                                <div class="col-12 text-center head-white"
                                    style="background-color: silver; padding:5px;">
                                    งานที่ยัง Upload ไม่สำเร็จ
                                </div>

                                <div>
                                    <label class="col-6 head top"> ทั้งหมด </label>
                                    <label class="col-6 head text-right"> 0 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4" style="padding: 0px; background-color: white;">
                    <div class="portlet ">
                        <div class="portlet-title" style="background-color: #BDBDBD; padding: 0px; margin: 0px;">
                            <div class="pull-left head" style="padding: 5px;">ข้อมูลพนักงาน
                            </div>
                        </div>

                        <div class="portlet-body" style="padding: 0px; margin:0px; background-color: white;">

                            <div style="padding: 0px">
                                <label class="col-5 head top">ชื่อ</label>
                                <label class="col-7 head top">123</label>
                            </div>
                            <div style="padding: 0px">
                                <label class="col-5 head top">ชื่อผู้ใช้</label>
                                <label class="col-7 head top"></label>
                            </div>
                            <div style="padding: 0px">
                                <label class="col-5 head top">หน้าที่</label>
                                <label class="col-7 head top"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>