ion-content{
    --ion-background-color:#EEEEEE;
    height: 100%;
}

.text {
    color: #FFFFFF;
}
.head{
    font-size: 1.5rem;
    color: black;
}
.head-new{
    font-size: 1.5rem;
    color: black;
}
.btn-new{
    font-size: 1.5rem;
    background-color: #BBDEFB;
    border-radius: 3px!important;
    padding-top: 0px;
    width: 30px;
    height: auto;
    text-align: center;
}
.btn{
    font-size: 1.5rem;
    background-color: #D6D7D7;
    border-radius: 3px!important;
    padding-top: 0px;
    width: 70px;
}
.head-white{
    color: #FFFFFF;
    font-size: 1.5rem;
}