<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-left>ภาพรวมการทำงาน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="page-content-inner">
            <div class="row" style="padding:5px;">
                <div class="col-8 col-md-8 background">
                    <div class="portlet-title" style="padding:5px;">
                        <div class="btn pull-left text-center"
                            style="margin-right: 5px; padding: 2px; background-color: #BBDEFB; width: 30px;">
                            0
                        </div>
                        <label class="text">ข่าวใหม่</label>
                        <ion-datetime type="datetime-local" class="tool head-new pull-right" displayFormat="DD MMM YYYY"
                            [(ngModel)]="myDate" style="padding:0px;">
                        </ion-datetime>
                    </div>
                    <div class="portlet-body">
                        <div class="col-md-12 col-12 head-white tab-overview">
                            สรุปภาพรวมการทำงาน
                        </div>
                        <div class="col-md-12 col-12 tab-month">
                            <div class="btn pull-left">ย้อนกลับ</div>
                            <label class="head-white center">สิงหาคม 2019</label>
                            <div class="btn pull-right">
                                ถัดไป </div>
                        </div>
                        <div>
                            <label class="col-md-6 col-6 head"> งานทั้งหมดในเดือน </label>
                            <label class="col-md-6 col-6 head text-right">0</label>
                            <label class="col-md-6 col-6 head"> เสร็จไปแล้ว </label>
                            <label class="col-md-6 col-6 head text-right">0</label>
                        </div>
                        <div class="col-md-12 col-12 head-white tab-month">
                            งานที่ยัง Upload ไม่สำเร็จ
                        </div>
                        <div>
                            <label class="col-md-6 col-6 head"> ทั้งหมด </label>
                            <label class="col-md-6 col-6 head text-right">0</label>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-md-4 background-col4">
                    <div class="portlet-title">
                        <div class="col-md-12 col-12 head-white tab-employee">
                            ข้อมูลพนักงาน
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="col-12 col-md-12" style="padding:0px; height: 250px;">
                            <div class="col-md-12 col-12" style="padding:3px;">
                                <label class="col-md-4 col-4 text-employee"> ชื่อ </label>
                                <label class="col-md-8 col-8 text-employee">คุณ เขตตะวัน ไพรพฤกษ์</label>
                                <label class="col-md-4 col-4 text-employee"> ชื่อผู้ใช้ </label>
                                <label class="col-md-8 col-8 text-employee">wingplustech</label>
                                <label class="col-md-4 col-4 text-employee"> หน้าที่</label>
                                <label class="col-md-8 col-8 text-employee">Service technician</label>
                                <label class="col-md-4 col-4 text-employee"> </label>
                                <label class="col-md-8 col-8 text-employee"></label>
                            </div>
                            <div class="col-md-12 col-12 head-white tab-employee">
                                ข้อมูลระบบ
                            </div>
                            <div class="col-md-12 col-12" style="padding:3px;">
                                <label class="col-md-4 col-4 text-employee"> พื้นที่ว่าง </label>
                                <label class="col-md-8 col-8 text-employee">6.78</label>
                                <label class="col-md-4 col-4 text-employee"> App Ver. </label>
                                <label class="col-md-8 col-8 text-employee">1.080</label>
                            </div>
                            <div class="col-md-12 col-12" style="padding:3px;">
                                <div class="btn-upload">
                                    <label>ข้อมูลทันที</label> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row" style="padding:0;">
        <div id="col12Main" class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="row">
                <div id="col8Main" class="col-8 col-md-8 col-sm-8" style="padding: 1px; background-color: #EEEEEE;">
                    <div id="box" class="portlet box gray-sharp">
                        <div class="" style="padding: 2px; background-color: white; height: 20px;">
                            <div class="btn pull-left text-center"
                                style="margin-right: 5px; padding: 2px; background-color: #BBDEFB; width: 30px;">
                                0
                            </div>
                            <label class="text">ข่าวใหม่</label>
                            <ion-datetime type="datetime-local" class="tool head-new pull-right"
                                displayFormat="DD MMM YYYY" [(ngModel)]="myDate" style="padding:0px;">
                            </ion-datetime>
                        </div>
                        <div class="portlet-body" style="padding: 0px;">
                            <div class="col-md-12 col-sm-12 col-12 text-center head-white"
                                style="background-color: #757575; padding: 2px; color: white; height: 20px;">
                                สรุปภาพรวมการทำงาน
                            </div>

                            <div class="col-md-12 col-sm-12 col-12 text-center head-white"
                                style="background-color: #BDBDBD; padding: 2px; height: 20px;">
                                <div class="btn pull-left text-center" style="padding: 0px;">ย้อนกลับ</div>
                                <label class="head-white center">สิงหาคม 2019</label>
                                <div class="btn pull-right text-center" style="padding: 0px;">
                                    ถัดไป </div>
                            </div>
                            <div class="clearfix"></div>
                            <div style="height: 20px;">
                                <div class="col-md-6 col-sm-6 col-6 head top"> งานทั้งหมดในเดือน </div>
                                <div class="col-md-6 col-sm-6 col-6 head top text-right">0</div>
                            </div>
                            <div style="height: 20px;">
                                <label class="col-md-6 col-sm-6 col-6 head top"> เสร็จไปแล้ว </label>
                                <label class="col-md-6 col-sm-6 col-6 head top text-right">0</label>
                            </div>

                            <div style="padding: 0px; height: 20px;">
                                <div class="col-md-12 col-sm-12 col-12 text-center head-white"
                                    style="background-color: silver; padding:2px; height: 20px;">
                                    งานที่ยัง Upload ไม่สำเร็จ
                                </div>
                                <div class="clearfix"></div>
                                <div style="height: 20px; background-color: white;">
                                    <div class="col-md-6 col-sm-6 col-6 head top">ทั้งหมด </div>
                                    <div class="col-md-6 col-sm-6 col-6 head top text-right">0</div>
                                </div>
                                <div style="height: 18px; background-color: white;">
                                    <label class="col-md-6 col-sm-6 col-6 head top"> </label>
                                    <label class="col-md-6 col-sm-6 col-6 head top text-right"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="col4Main" class="col-md-4 col-sm-4 col-12" style="padding: 1px; background-color: #EEEEEE;">
                    <div class="" style="padding: 2px; margin-bottom: 0px; background-color: #BDBDBD; height: 20px;">
                        ข้อมูลพนักงาน
                    </div>

                    <div class="portlet-body" style="padding: 0px; margin:0px; background-color: white;">

                        <div style="padding: 0px; height: 20px;">
                            <label class="col-md-5 col-sm-5 col-5 head top">ชื่อ</label>
                            <label class="col-md-7 col-sm-7 col-7 head top">คุณ เขตตะวัน ไพรพฤกษ์</label>
                        </div>
                        <div style="padding: 0px; height: 20px;">
                            <label class="col-md-5 col-sm-5 col-5 head top">ชื่อผู้ใช้</label>
                            <label class="col-md-7 col-sm-7 col-7 head top">wingplustech</label>
                        </div>
                        <div style="padding: 0px; height: 20px;">
                            <label class="col-md-5 col-sm-5 col-5 head top">หน้าที่</label>
                            <label class="col-md-7 col-sm-7 col-7 head top">Service technician</label>
                        </div>
                        <div style="padding: 0px; height: 20px;">
                            <label class="col-md-5 col-sm-5 col-5"></label>
                            <label class="col-md-7 col-sm-7 col-7"></label>
                        </div>

                        <div class=""
                            style="padding: 2px; margin-bottom: 0px; background-color: #BDBDBD; height: 20px;">
                            ข้อมูลระบบ
                        </div>

                        <div class="portlet-body" style="padding: 0px; margin:0px; background-color: white;">

                            <div style="padding: 0px; height: 20px;">
                                <label class="col-md-5 col-sm-5 col-5 head top">พื้นที่ว่าง</label>
                                <label class="col-md-7 col-sm-7 col-7 head top">6.78</label>
                            </div>
                            <div style="padding: 0px; height: 20px;">
                                <label class="col-md-5 col-sm-5 col-5 head top">App Ver.</label>
                                <label class="col-md-7 col-sm-7 col-7 head top">1.080</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</ion-content>