  <ion-toolbar>
    <ion-title>เบิกอะไหล่</ion-title>
    <ion-buttons slot="primary">
      <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <div class="col-md-12 col-12" style="padding: 0;">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-12">
              <ion-list>
                <ion-item>
                  <div class="col-4">
                    <ion-label color="primary">ประเภทเครื่อง</ion-label>
                  </div>
                  <div class="col-8">
                    <ion-label>{{ProductName}}</ion-label>
                  </div>
                </ion-item>
                <ion-item>
                  <div class="col-4">
                    <ion-label color="primary">อุปกรณ์</ion-label>
                  </div>
                  <div class="col-8">
                    <ion-label>{{AssetNo}}</ion-label>
                  </div>
                </ion-item>
                <ion-item>
                  <div class="col-4">
                    <ion-label color="primary">จำนวน</ion-label>
                  </div>
                  <div class="col-8">
                    <ion-input type="number" [(ngModel)]="No" (ionChange)="onSum($event)"></ion-input>
                  </div>
                </ion-item>
                <ion-item>
                  <div class="col-4">
                    <ion-label color="primary">Unit</ion-label>
                  </div>
                  <div class="col-8">
                    <ion-input type="text" [(ngModel)]="Unit"></ion-input>
                  </div>
                </ion-item>
                <ion-item>
                  <div class="col-4">
                    <ion-label color="primary">หมายเหตุ</ion-label>
                  </div>
                  <div class="col-8">
                    <ion-textarea [(ngModel)]="Remark"></ion-textarea>
                  </div>
                </ion-item>
              </ion-list>
              <div class="col-12" style="text-align: center;">
                <ion-button slot="end" (click)="PostSpare()">บันทึกอะไหล่</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
