<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-title>สรุปผลการตรวจเช็ค</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;" *ngFor="let item of result">
            <div class="col-12 col-sm-12 col-md-12" style="padding: 0px;">
                <div class="portlet blue box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-dashboard"></i>ข้อมูลโดยรวม</div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <label class="col-8">ชื่อลูกค้า&nbsp;:&nbsp;{{item.CustomerName}}</label>
                            <label class="col-4">ผู้ตรวจเช็ค&nbsp;:&nbsp;{{item.Name}}</label>
                        </div>
                        <div>
                            <label class="col-8">โทรศัพท์&nbsp;:&nbsp;{{item.Phone}} </label>
                            <label class="col-4">วันที่กำหนด&nbsp;:&nbsp;{{item.start_service_date}}</label>
                        </div>
                        <div>
                            <label class="col-8">ที่อยู่ร้าน&nbsp;:&nbsp;{{item.Address}}</label>
                            <label class="col-4">ต่างจากวันกำหนด&nbsp;:&nbsp;{{item.TimeDiff}}</label>
                        </div>
                        <div>
                            <label class="col-8">สินค้าที่ติดตั้ง&nbsp;:&nbsp;{{item.InstallPlanName}} </label>
                            <label class="col-4">เริ่มทำงาน&nbsp;:&nbsp;{{item.start_service_date}}</label>
                        </div>
                        <div>
                            <label class="col-8" *ngIf="HideCM">Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNo}}</label>
                            <label class="col-3" *ngIf="ShowCM">Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNoNew}}</label>
                            <label class="col-5"
                                *ngIf="ShowCM">Serial&nbsp;No&nbsp;(ใหม่):&nbsp;{{item.SerialNo}}</label>
                            <label class="col-4">เสร็จงาน&nbsp;:&nbsp;{{item.end_service_date}}</label>
                        </div>
                        <div>
                            <label class="col-8" *ngIf="HideCM">ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsName}}</label>
                            <label class="col-3" *ngIf="ShowCM">ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsNameNew}}</label>
                            <label class="col-5"
                                *ngIf="ShowCM">ชื่อสินค้า&nbsp;No&nbsp;(ใหม่)&nbsp;:&nbsp;{{item.ItemsName}}</label>
                            <label class="col-4">เวลาที่ใช้&nbsp;:&nbsp;{{item.TimeSpent}}</label>
                        </div>
                        <div>
                            <label class="col-8">ประเภทงาน&nbsp;:&nbsp;{{typethai}}&nbsp;({{type}})</label>
                            <label class="col-4"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isShowImage">
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายก่อนการทำงาน</div>
                        </div>
                        <div class="portlet-body">
                            <img [src]="img.src1" *ngIf="isShowImage" />
                            <img [src]="img.src2" *ngIf="isShowImage" />
                            <img [src]="img.src3" *ngIf="isShowImage" />
                            <img [src]="img.src4" *ngIf="isShowImage" />
                            <img [src]="img.src5" *ngIf="isShowImage" />
                            <img [src]="img.src6" *ngIf="isShowImageInstall" />
                            <img [src]="img.src7" *ngIf="isShowImageInstall" />
                            <img [src]="img.src8" *ngIf="isShowImageInstall" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายหลังการทำงาน</div>

                        </div>
                        <div class="portlet-body">
                            <img [src]="img.src6" />
                            <img [src]="img.src7" />
                            <img [src]="img.src8" />
                            <img [src]="img.src9" />
                            <img [src]="img.src10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-12 col-md-12" style="width:100%;height:100%" *ngIf="ShowList">
        <iframe [src]="url" style="width:100%;height:100%">
        </iframe>
    </div>
</ion-content>