ion-content {
    background-color: silver;
}
label{
    font-size: 0.9em;
}
// .container-fluid {
//     background-color: #EEEEEE;
//     padding: 5px;
// }

// .card {
//     padding: 0px;
//     border-radius: 5px !important;
// }

// .text-card {
//     margin: 10px;
//     font-size: 0.9em;
//     color: #858585;
//     font-weight: bold;

// }

// .tab {
//     color: white;
//     text-align: center;
//     font-size: 0.9em;
//     background-color: #757575;
//     margin-top: 0px;
//     padding: 5px;
//     margin-bottom: 5px;
// }

// .before {
//     padding: 0px;
//     margin: 0px;
//     background-color: white;
// }

// .before-text {
//     text-align: center;
//     padding: 5px;
//     margin: 0px;
//     background-color: #E0E0E0;
//     color: black;
//     font-size: 0.9em;
//     font-weight: bold;
// }

// .check {
//     color: white;
//     text-align: center;
//     font-size: 0.9em;
//     background-color: #757575;
//     margin-bottom: 0px;
//     padding: 5px;
//     margin-top: 5px;
// }

// .card-check {
//     margin: 0px;
//     padding: 0px;
//     background-color: white;
//     margin-bottom: 0px;
// }

// .text-check {
//     margin: 10px;
//     font-size: 0.9em;
//     color: #858585;
//     padding: 5px;
//     font-weight: bold;

// }

img {
    width: auto;
    margin: auto;
    display: block;
    }