<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-title>สรุปผลงาน{{typethai}}&nbsp;({{type}})</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;" *ngFor="let item of result">
            <div class="col-12 col-sm-12 col-md-12" style="padding: 0px;">
                <div class="portlet blue box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-dashboard"></i>ข้อมูลโดยรวม</div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <label class="col-9">ชื่อลูกค้า&nbsp;:&nbsp;{{item.CustomerName}}</label>
                            <label class="col-3">ผู้ตรวจเช็ค&nbsp;:&nbsp;{{item.Name}}</label>
                        </div>
                        <div>
                            <label class="col-9">โทรศัพท์&nbsp;:&nbsp;{{item.Phone}} </label>
                            <label class="col-3">วันที่กำหนด&nbsp;:&nbsp;{{item.service_date_plan}}</label>
                        </div>
                        <div>
                            <label class="col-9">ที่อยู่ร้าน&nbsp;:&nbsp;{{item.Address}}</label>
                            <label class="col-3">ต่างจากวันกำหนด&nbsp;:&nbsp;{{item.TimeDiff}}</label>
                        </div>
                        <div>
                            <label class="col-9">สินค้าที่ติดตั้ง&nbsp;:&nbsp;{{item.InstallPlanName}} </label>
                            <label class="col-3">เริ่มทำงาน&nbsp;:&nbsp;{{item.start_service_date}}</label>
                        </div>
                        <div>
                            <label class="col-9" *ngIf="type != 'CM'else show" #show>Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNo}}</label>
                            <label class="col-4" *ngIf="item.SerialNoNew == item.SerialNo && type == 'CM' else device" #device>Serial&nbsp;No&nbsp;:&nbsp;{{item.SerialNoNew}}</label>
                            <label class="col-5"
                            *ngIf="item.SerialNoNew == item.SerialNo && type == 'CM' else device" #device>Serial&nbsp;No&nbsp;(ใหม่)&nbsp;:&nbsp;{{item.SerialNo}}</label>
                            <label class="col-3">เสร็จงาน&nbsp;:&nbsp;{{item.end_service_date}}</label>
                        </div>
                        <div>
                            <label class="col-9"  *ngIf="type != 'CM'else show" #show>ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsName}}</label>
                            <label class="col-4" *ngIf="item.SerialNoNew == item.SerialNo && type == 'CM' else device" #device>ชื่อสินค้า&nbsp;:&nbsp;{{item.ItemsNameNew}}</label>
                            <label class="col-5"
                            *ngIf="item.SerialNoNew == item.SerialNo && type == 'CM' else device" #device>ชื่อสินค้า&nbsp;(ใหม่)&nbsp;:&nbsp;{{item.ItemsName}}</label>
                            <label class="col-3">เวลาที่ใช้&nbsp;:&nbsp;{{item.TimeSpent}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isShowImage">
                <div class="col-6" style="padding-right: 0px;">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายก่อนการทำงาน</div>
                        </div>
                        <div class="portlet-body">
                            <img [src]="img.src1" *ngIf="isShowImage1" />
                            <img [src]="img.src2" *ngIf="isShowImage2" />
                            <img [src]="img.src3" *ngIf="isShowImage3" />
                            <img [src]="img.src4" *ngIf="isShowImage4" />
                            <img [src]="img.src5" *ngIf="isShowImage5" />
                            <img [src]="img.src6" *ngIf="isShowImage6" />
                            <img [src]="img.src7" *ngIf="isShowImage7" />
                            <img [src]="img.src8" *ngIf="isShowImage8" />
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-left: 0px;">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายหลังการทำงาน</div>

                        </div>
                        <div class="portlet-body">
                            <img [src]="img.src9" *ngIf="isShowImage9"/>
                            <img [src]="img.src10" *ngIf="isShowImage10"/>
                            <img [src]="img.src11" *ngIf="isShowImage11"/>
                            <img [src]="img.src12" *ngIf="isShowImage12"/>
                            <img [src]="img.src13" *ngIf="isShowImage13"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-12 col-md-12" style="width:100%;height:100%;padding: 0px;" *ngIf="ShowList">
        <iframe [src]="url" style="width:100%;height:100%">
        </iframe>
    </div>
</ion-content>