<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>สรุปผลการตรวจเช็ค</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 tab">
        ข้อมูลโดยรวม </div>

      <div class="col-8 col-md-8 col-sm-8 card" style="padding: 0px; padding-left: 5px;">
        <!-- <div class="portlet box" style="background-color: #BBDEFB; border-radius: 5px!important;">
          <div class="text" style="padding: 5px; color:black;">รายการผ่านการตรวจเช็คล่าสุด</div>
          <div class="portlet-body" style="padding-top: 5px;">
            <div class="row" *ngFor="let item of data" routerDirection="forward" style=" margin-bottom: 10px;">
              <label class="col-6 col-md-6 col-sm-6 head">
                ชื่อลูกค้า:
              </label>

              <label class="col-6 col-md-6 col-sm-6 head">
                วันที่กำหนด:
              </label>


              <label class="col-6 col-md-6 col-sm-6 head">
                สินค้าที่ติดตั้ง:
              </label>

              <label class="col-6 col-md-6 col-sm-6 head">
                เริ่มทำงาน:
              </label>


              <label class="col-6 col-md-6 col-sm-6 head">
                ชื่อสินค้า:
              </label>

              <label class="col-6 col-md-6 col-sm-6 head">
                เสร็จงาน:
              </label>


              <label class="col-6 col-md-6 col-sm-6 head">
                Serial No:
              </label>

              <label class="col-6 col-md-6 col-sm-6 head">
                เวลาที่ใช้:
              </label>
              <hr>
            </div>
          </div>
        </div> -->
        <div class="text-card">
          <div class="col-12 col-sm-12 col-md-12">
            ชื่อลูกค้า:</div>
          <div class="col-12 col-sm-12 col-md-12">
            โทรศัพท์:</div>
          <div class="col-12 col-sm-12 col-md-12">
            ที่อยู่:</div>
          <div class="col-12 col-sm-12 col-md-12">
            สินค้าที่ติดตั้ง:</div>
          <div class="col-12 col-sm-12 col-md-12">
            Serial No.:</div>
          <div class="col-12 col-sm-12 col-md-12">
            ชื่อสินค้า:</div>
        </div>
      </div>

      <div class="col-sm-4 col-4 col-md-4 card">
        <div class="text-card">
          <div class="col-12 col-sm-12 col-md-12">
            ผู้ตรวจเช็ค:
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            วันที่กำหนด:
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            ต่างจากกำหนด:
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            เริ่มทำงาน:
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            เสร็จงาน:
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            เวลาที่ใช้:
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 tab">
        สภาพสินค้าที่ติดตั้ง </div>
      <div class="col-6 col-sm-6 col-md-6 before" style="padding-right: 2px; background-color: #EEEEEE;">
        <div class="before-text">
          ภาพถ่ายก่อนการทำงาน
        </div>
        <div style="background-color: white;">
          <div style="padding: 5px;">
            <img src="../../assets/img/logo.png" />
          </div>
          <img src="../../assets/img/logo.png" />
          <img src="../../assets/img/logo.png" />
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-6 before" style="padding-left: 2px; background-color: #EEEEEE;">
        <div class="before-text">
          ภาพถ่ายหลังการทำงาน
        </div>
        <div style="background-color: white;">
          <div style="padding: 5px;">
            <img src="../../assets/img/logo.png" />
          </div>
          <img src="../../assets/img/logo.png" />
          <img src="../../assets/img/logo.png" />
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 check">
        สรุปรายการ การตรวจเช็ค</div>

      <div class="col-12 col-sm-12 col-md-12 card-check">
        <div class="col-12 col-sm-12 col-md-12" style="background-color: white; padding: 0px;">123</div>
        <hr>
      </div>

    </div>
  </div>


</ion-content>

<!-- <div class="col-6">
      <ion-card>
        <ion-card-content>
          <label class="col-8">
            ชื่อลูกค้า:</label>
          <label class="col-8">
            โทรศัพท์:</label>
          <label class="col-8">
            ที่อยู่:</label>
          <label class="col-8">
            สินค้าที่ติดตั้ง:</label>
          <label class="col-8">
            Serial No.:</label>
          <label class="col-8">
            ชื่อสินค้า:</label>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="col-6">
      <ion-card>
        <ion-card-content>
          <label class="col-8">
            ผู้ตรวจเช็ค:
          </label>
          <label class="col-8">
            วันที่กำหนด:
          </label>
          <label class="col-8">
            ต่างจากกำหนด:
          </label>
          <label class="col-8">
            เริ่มทำงาน:
          </label>
          <label class="col-8">
            เสร็จงาน:
          </label>
          <label class="col-8">
            เวลาที่ใช้:
          </label>
        </ion-card-content>
      </ion-card>
    </div> -->