ion-item {
    --ion-background-color: white !important;
}
ion-card {
    background-color: white!important; 
  }
ion-content ion-card-content{
    background-color: white!important;
}
ion-label{
    font-size: 0.6em!important;
}
ion-button{
    font-size: 0.6em!important;
}