<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-title>สรุปผลการตรวจเช็ค</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;" *ngFor="let item of result">
            <div class="col-12 col-sm-12 col-md-12" style="padding: 0px;">
                <div class="portlet blue box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-dashboard"></i>ข้อมูลโดยรวม </div>
                    </div>
                    <div class="portlet-body">
                        <label class="col-8">ชื่อลูกค้า: {{item.CustomerName}}</label>
                        <label class="col-4">ผู้ตรวจเช็ค: {{item.Name}}</label>
                        <label class="col-8">โทรศัพท์: {{item.Phone}} </label>
                        <label class="col-4">วันที่กำหนด: {{item.start_service_date}}</label>
                        <label class="col-8">ที่อยู่: {{item.Address}}</label>
                        <label class="col-4">ต่างจากวันกำหนด: {{item.TimeDiff}}</label>
                        <label class="col-8">สินค้าที่ติดตั้ง: {{item.InstallPlanName}} </label>
                        <label class="col-4">เริ่มทำงาน:
                            {{item.start_service_date}}</label>
                        <label class="col-8">Serial No: {{item.SerialNo}}</label>
                        <label class="col-4">เสร็จงาน: {{item.end_service_date}}</label>
                        <label class="col-8">ชื่อสินค้า: {{item.ItemsName}}</label>
                        <label class="col-4">เวลาที่ใช้: {{item.TimeSpent}}</label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isShowImage">
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายก่อนการทำงาน</div>
                        </div>
                        <div class="portlet-body">
                            <img src="{{img1}}" />
                            <img src="{{img2}}" />
                            <img src="{{img3}}" />
                            <img src="{{img4}}" />
                            <img src="{{img5}}" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายหลังการทำงาน</div>

                        </div>
                        <div class="portlet-body">
                            <img src="{{img6}}" />
                            <img src="{{img7}}" />
                            <img src="{{img8}}" />
                            <img src="{{img9}}" />
                            <img src="{{img10}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isShowImageInstall">
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายก่อนการทำงาน</div>
                        </div>
                        <div class="portlet-body">
                            <img [src]="img1" />
                            <img src="{{img2}}" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="portlet blue box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file-image-o"></i>ภาพถ่ายหลังการทำงาน</div>

                        </div>
                        <div class="portlet-body">
                            <img src="{{img6}}" />
                            <img src="{{img7}}" />
                            <img src="{{img8}}" />
                            <img src="{{img9}}" />
                            <img src="{{img10}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>