<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>รายการเบิกรอช่างมารับอะไหล่</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="portlet-body">
      <div class="col-12" style="text-align: center; margin-top: 20px;" *ngIf="ListJob == []">
        <label>ไม่พบข้อมูล</label>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin: 2px;" *ngIf="ListJob">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-user"></i>รายการเบิกรอช่างมารับอะไหล่</div>
            </div>
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="text-center"> ลำดับ </th>
                            <th> เลขที่ใบเบิก </th>
                            <th class="text-center"> อะไหล่ที่เบิก </th>
                            <th> วันที่เบิก </th>
                            <th> สถานะ </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of ListJob; let i = index">
                            <td class="text-center"> {{i + 1}} </td>
                            <td> {{item.Docno}} </td>
                            <td class="text-center"> {{item.Balance}} </td>
                            <td> {{item.CreatedDate}} </td>
                            <td> {{item.Status}} </td>
                            <td>
                              <ion-button expand="block" color="warning" (click)="GetJob(item.JobID,item.Docno)"
                                size="small">กดรับอะไหล่</ion-button>
                              <!-- <span class="label label-sm label-warning circle"
                                (click)="DeleteFromList(i,item)">ลบออกจากรายการเบิก</span> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin:2px;" *ngIf="DetailJobList">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-user"></i>รายการเบิกอะไหล่ {{No}}</div>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <div class="tab-pane active">
                  <div class="row">
                    <div class="col-12">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center"> ลำดับที่ </th>
                              <th> ประเภทอะไหล่ </th>
                              <th> ชื่ออะไหล่ </th>
                              <th class="text-center"> ตำแหน่ง </th>
                              <th class="text-center"> จำนวนที่เบิก </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of DetailJobList; let i = index">
                              <td class="text-center"> {{i + 1}} </td>
                              <td> {{item.AssetTypeName}} </td>
                              <td> {{item.Skuname}} </td>
                              <td class="text-center"> {{item.PositionNo}} </td>
                              <td class="text-center"> {{item.Amount}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>