<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>ปฏิทินการตรวจเช็ค(PM)</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      
  <iframe [src]="url"
  style="width:100%;height:100%">
</iframe>
    <!-- <full-calendar
      *ngIf="options"
      #fullcalendar
      [editable]="true"
      [events]="eventsModel"
      [header]="options.header"
      [customButtons]="options.customButtons"
      [plugins]="calendarPlugins"
      [columnHeaderHtml]="options.columnHeaderHtml"
      [selectable]="true"
      [selectOverlap]="options.selectOverlap"
    ></full-calendar>
    
   </div> -->
  
</ion-content>
