<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>ถ่ายรูป Serial</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="row">
    <div class="col-12" style="text-align: center;margin-top: 20px;">
      <ion-fab>
        <ion-fab-button (click)="TakeSerial()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
      <div class="col-3">
      </div>
      <div class="col-6">
        <img *ngIf="picserial != null" [src]="picserial" style="width: 100%;padding: 10px;">
      </div>
      <div class="col-3">
      </div>
    </div>
</ion-content>