ion-content{
    --ion-background-color:#EEEEEE;
}
.container-fluid{
    background-color: #EEEEEE;
    padding: 5px;
}
.tab{
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #757575;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
}