<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>รายการการตรวจเช็ค(PM)</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div>

      <div class="col-12 text-center head-white" style="background-color: #757575; padding: 5px;">
        <div class="btn pull-left">
          <label class="btn-text">ปัจจุบัน</label></div>
        <label class="head-white center">รายการ PM เดือน 2019</label>
        <div class="btn pull-right">
          <i class="btn-text fa fa-angle-right"></i>
        </div>
        <div class="btn pull-right" style="margin-right: 10px;">
            <i class="btn-text fa fa-angle-left"></i>
        </div>
      </div>


    </div>
  </div>
</ion-content>