<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>รายการการตรวจเช็ค(PM)</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
<div class="col-12" style="padding: 0px;">
        <div class="btn-group btn-group btn-group-justified btn-lg" style="padding: 0px; width: 100%;">
            <a href="javascript:;" class="btn default btn-lg" style="padding: 5px;" (click)="ChangeMonth()"> ปัจจุบัน </a>
            <a href="javascript:;" class="btn blue btn-lg" style="width: 50%; padding: 5px;" > รายการ PM เดือน{{textShow}} </a>
            <a href="javascript:;" class="btn default btn-lg" style="padding: 5px;" (click)="changeMonthBack()"> ก่อนหน้า </a>
            <a href="javascript:;" class="btn default btn-lg" style="padding: 5px;" (click)="changeMonthNext()"> ถัดไป </a>
        </div>
      </div>
    </div>

      <!-- <div class="col-12 head-white box">
        <div class="btn pull-left">
          <label class="btn-text">ปัจจุบัน</label></div>
        <label class="head-white center">รายการ PM เดือน 2019</label>
        <div class="btn pull-right">
          <i class="btn-text fa fa-angle-right"></i>
        </div>
        <div class="btn pull-right" style="margin-right: 10px;">
          <i class="btn-text fa fa-angle-left"></i>
        </div>
      </div> -->
      
   

    </div>
</ion-content>