ion-content{
    --ion-background-color:#EEEEEE;
}
.container-fluid{
    background-color: #EEEEEE;
    padding: 5px;
}
.tab{
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #757575;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
}
.btn{
    background-color: #D6D7D7;
    padding-top: 0px;
    width: 80px;
    margin: 0px;
    padding: 0px;
}
.btn-text{
    color: black;
    margin: 5px;
    align-items: center;
    font-size: 1.5rem;
}
.head-white{
    font-size: 2rem;
    color: white;
}