<ion-toolbar>
  <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class="centered">
    <form #form="ngForm" (ngSubmit)="login(form)" class="text-center">
      <ion-item>
        <ion-input name="password" type="password" [(ngModel)]="pass.old" placeholder="กรอกรหัสผ่านเดิม" ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" [(ngModel)]="pass.new" placeholder="กรอกรหัสผ่านใหม่" ngModel
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" [(ngModel)]="pass.newretry" placeholder="กรอกรหัสผ่านใหม่อีกครั้ง"
          ngModel required>
        </ion-input>
      </ion-item>
      <ion-button shape="round" [disabled]="form.invalid" (click)="login()">เปลี่ยนรหัสผ่าน</ion-button>
    </form>
  </div>
</ion-content>